.col-xs-12.bottom
	a.fa.fa-vk(href="http://vk.com/nicjob")

	a.fa.fa-facebook(href="https://www.facebook.com/nicjobcom")

	a.fa.fa-linkedin(href="http://ru.linkedin.com/in/nicjob/ ")

	a.fa.fa-twitter(href="https://twitter.com/nicjobcom")

	a(href="http://ok.ru/nicjob")
		img(src="/img/ok.png",style="height: 75%;margin-bottom: 1px;")

	a.fa.fa-instagram(href="http://instagram.com/nicjob/")
