.competitorOfficeBlacklist
	.company(ng-repeat="i in blacklist")
		.row
			.col-xs-3.text-center.avatar
				img.img-responsive(src="http://robohash.org/#{Math.random()}.png?set=set3")
			.col-xs-6.info
				.col-xs-12.title
					a ОЛОЛО "Яндекс"
				.col-xs-12.desc
					p причина занисения в чёрный список:
					p Забухал
			.col-xs-3.text-right
				.col-xs-12
					button.btn.btn-success Пощадить компанию
				.col-xs-12
					a(href="") Подробнее о компании
		hr
