<div style="width: 130px; margin-top: 30px" class="list-group lists"></div>
<ul class="list-group list" style="margin-top: -634px; margin-left: 129px">
	<li class="list-group-item" style="font-weight: bold">Элементы списка <i class="fa fa-plus" style="float: right; cursor: pointer"></i></li>
</ul>
<div class="modal fade" id="modal" tabindex="-1">
	<div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
          <h4 class="modal-title" id="myModalLabel">Добавление элемента</h4>
        </div>
        <div class="modal-body">
			<div class="form-group">
		        <input autofocus type="email" class="form-control value" id="exampleInputEmail2" placeholder="Введите значение">
		    </div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary addValue" data-dismiss="modal">Добавить</button>
        </div>

      </div><!-- /.modal-content -->
    </div>
</div>
<div class="modal fade" id="modal1" tabindex="-1">
	<div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
          <h4 class="modal-title" id="myModalLabel">Редактирование элемента</h4>
        </div>
        <div class="modal-body">
			<div class="form-group">
		        <input type="email" class="form-control value1" id="exampleInputEmail2" placeholder="Введите значение">
		    </div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary updateValue123" data-dismiss="modal">Сохранить</button>
        </div>

      </div>
    </div>
</div>
