<!DOCTYPE html>
<html>
<head>
	<title>nojs</title>
</head>
<body>
<a href="/nojs/competitors?page=0">Competitors</a>
<a href="/nojs/teams?page=0">Teams</a>
<a href="/nojs/vacansies?page=0">Vacancies</a>
</body>
</html>