.col-xs-12.office
	tabset.tabs
		tab(heading="Моё резюме")
			!= partial("./team/profile.jade")
		tab(heading="Мои собеседования")
			!= partial("./team/interviews.jade")
		tab(heading="Мои отклики")
			!= partial("./team/response.jade")
		tab(heading="Чёрный список")
			!= partial("./team/blacklist.jade")
		tab(heading="Настройки")
			!= partial("./team/settings.jade")
