//.row.vacancy-item
	.col-xs-2
		img.img-responsive(src="http://robohash.org/7.png?set=set3")
	.col-xs-7#profiles
		div.clearfix
			h4.pull-left
				a Тотраев Давид
			span.pull-right 24 года
		hr
		p
			b Верстальщик
			| , Ташкент
	.col-xs-3.text-right
		.btn-group-vertical
			button.btn.btn-default(type='button', onclick='edit()', data-toggle='modal', data-target='#modal2')
				i.fa.fa-edit(style="margin-right: 5px")
				| Редактировать
			button.btn.btn-default(type='button', onclick='asout()')
				i.fa.fa-sign-out(style="margin-right: 5px")
				| Удалить
			button.btn.btn-default(type='button', onclick='asout()')
				i.fa.fa-warning(style="margin-right: 5px")
				| Заблокировать
















