doctype
html
	head
		meta(name="viewport", content="width=1280")
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,700,800,600&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
		//link(rel="stylesheet" href="/css/chosen.css")
		link(rel="stylesheet" href="/css/imgareaselect/imgareaselect-default.css")
		//link(rel="stylesheet" href="//otmedia.ru/mystyle.css")
		link(rel="stylesheet" href="/styles/main.css")
		link(rel="stylesheet" href="/css/datetimepicker.css")
		link(rel="stylesheet" href="/css/icons.css")
		script(src="//maps.googleapis.com/maps/api/js?sensor=false")
		script(src="/js/jquery-2.1.1.min.js")
		script(src="//www.webrtc-experiment.com/RecordRTC.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/lodash.min.js")
		script(type="text/javascript", src="/openapi/0.1/account/getLimits")
		script(type="text/javascript", src="/js/jquery.imgareaselect.pack.js")
		script(type="text/javascript", src="/js/angular/angular.min.js")
		script(type="text/javascript", src="/js/angular/angular-resource.min.js")
		script(type="text/javascript", src="/js/angular/angular-route.min.js")
		script(src="/js/masks.min.js")
		script(type="text/javascript", src="/js/peer.js")
		script(src="/js/ui-bootstrap-tpls-0.12.0.js")
		script(src="/js/jquery.nouislider.min.js")
		script(src="/js/chosen.jquery.js")
		script(src="/js/accounting.min.js")


		script(src="/js/datetimepicker.js")
		script(type="text/javascript", src="/js/modules/application.js")
		script(type="text/javascript", src="/js/directives/chosen.js")
		script(type="text/javascript", src="/js/directives/confirm.js")
		script(type="text/javascript", src="/js/angular-google-maps.js")

		script(type="text/javascript", src="/js/services/dataSrv.js")
		script(type="text/javascript", src="/js/services/callSrv.js")
		
		script(type="text/javascript", src="/js/controllers/notificationsCtrl.js")
		script(type="text/javascript", src="/js/controllers/searchCtrl.js")
		script(type="text/javascript", src="/js/controllers/profileCtrl.js")
		script(type="text/javascript", src="/js/controllers/vacansyCtrl.js")
		script(type="text/javascript", src="/js/controllers/headerCtrl.js")
		script(type="text/javascript", src="/js/controllers/officeCtrl.js")
		script(type="text/javascript", src="/js/controllers/office/competitorCtrl.js")
		script(type="text/javascript", src="/js/controllers/office/teamCtrl.js")
		script(type="text/javascript", src="/js/controllers/office/employerCtrl.js")
		script(type="text/javascript", src="/js/controllers/office/common/imgsCtrl.js")
		script(type="text/javascript", src="/js/controllers/office/common/diplomasCtrl.js")
		script(type="text/javascript", src="/js/controllers/office/common/portfolioCtrl.js")
		script(type="text/javascript", src="/js/controllers/pages/competitorCtrl.js")
		script(type="text/javascript", src="/js/controllers/pages/teamCtrl.js")
		script(type="text/javascript", src="/js/controllers/pages/vacansyCtrl.js")
		script(type="text/javascript", src="/js/controllers/pages/employerCtrl.js")
		script(type="text/javascript", src="/js/controllers/pages/map/competitorsCtrl.js")
		script(type="text/javascript", src="/js/controllers/modal/makePhotoCtrl.js")
		script(type="text/javascript", src="/js/controllers/modal/makeVideoCtrl.js")
		script(type="text/javascript", src="/js/controllers/modal/confirmPhoneCtrl.js")
		script(type="text/javascript", src="/js/controllers/modal/createInterviewCtrl.js")
		script(type="text/javascript", src="/js/controllers/search/searchCompetitorsCtrl.js")
		script(type="text/javascript", src="/js/controllers/search/searchTeamsCtrl.js")
		script(type="text/javascript", src="/js/controllers/search/searchVacansyCtrl.js")
		script(type="text/javascript", src="/js/common.js")
		script(type="text/javascript", src="/WebRTC/customWRTC.js")
		//script(src="/js/select2.js")
		style.
			body {opacity: 0;}
	body
		#header-bg
		.container.application(ng-app="application")
			.col-xs-10.col-md-offset-1
				!= partial("./views/header.html")
				div(ng-view)
		!= partial("./views/footer")
		link(rel="stylesheet" href="/css/font-awesome.min.css")

