.footer
	.footer-inner
		.footer-inner-content
			.col-xs-12
				.col-xs-4 &copy; 2012—2013 «Весь персонал»
				.col-xs-4.menu
					ul
						li
							a(href="#") Инвесторам
						li
							a(href="#") О сайте
						li
							a(href="#") Вакансии
						li
							a(href="#") Пользовательское соглашение
				.col-xs-4.text-right
					p Телефон поддержки: 
						b 8 916 99999-80