<div class="col-md-12">
	<h2>новые собеседования</h2>
	<div>
		<div class="col-md-12">
			<div class="col-md-2">
				<img ng-src="/img/avatar.png" style="max-width:100%;">
			</div>
			<div class="col-md-10">
				<div class="col-md-6">
					работодатель:
					<br>
					вакансия:
				</div>
				<div class="col-md-6">
					руб/
					<br>
					статус:
				</div>
				<div class="col-md-12">
					<div class="col-md-4">
						<button ng-click="" class="btn btn-success col-md-12">20.01.2015 в 18:45</button>
					</div>
					<div class="col-md-4">
						<button ng-click="" class="btn btn-success col-md-12">20.01.2015 в 18:45</button>
					</div>
					<div class="col-md-4">
						<button ng-click="" class="btn btn-success col-md-12">20.01.2015 в 18:45</button>
					</div>
					<div class="col-md-8">
						Выберите подходящую дату видеособеседования (время московское)
					</div>
					<div class="col-md-4">
						<button ng-click="" class="btn btn-danger col-md-12">Отклонить приглашение</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<h2>будущие собеседования</h2>
	<div>
		
		<div class="col-md-12">
			<div class="col-md-2">
				<img ng-src="/img/avatar.png" style="max-width:100%;">
			</div>
			<div class="col-md-10">
				<div class="col-md-6">
					работодатель:
					<br>
					вакансия:
				</div>
				<div class="col-md-6">
					руб/
					<br>
					статус:
					<br>
					Дата
					<br>
					Время
				</div>
			</div>
		</div>

	</div>
</div>

<div class="col-md-12">
	<h2>ближайшее собеседование</h2>
	<div>
		
		<div class="col-md-12">
			<div class="col-md-2">
				<img ng-src="/img/avatar.png" style="max-width:100%;">
			</div>
			<div class="col-md-10">
				<div class="col-md-6">
					работодатель:
					<br>
					вакансия:
				</div>
				<div class="col-md-6">
					руб/
					<br>
					статус:
					<br>
					Дата
					<br>
					Время
				</div>
			</div>
		</div>
		<div class="warp  col-md-12 text-center">
			<div>
				до начала собеседования осталось
			</div>
			<h1>
				17:08:34
			</h1>
			<div>
				подготовьте камеру и микрофон
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<h2>прошедшие собеседования</h2>
	<div>
		
		<div class="col-md-12">
			<div class="col-md-2">
				<img ng-src="/img/avatar.png" style="max-width:100%;">
			</div>
			<div class="col-md-10">
				<div class="col-md-6">
					работодатель:
					<br>
					вакансия:
				</div>
				<div class="col-md-6">
					руб/
					<br>
					статус:
					<br>
					Дата
					<br>
					Время
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.warp {
		color: white;
		padding: 140px 0px;
		background-color: #777;
	}
</style>